.errorImageOverlay {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImageContainer {
  background-size: cover;
  background-position: center;
  width: 50vh;
  height: 50vh;
}

.errorImageText {
  font-size: 2.8rem;
  color: #2f8e89;
}
